{% extends "base.html" %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <h1>Home</h1>

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {% for base in form.base_form %}
            <div id="base0">
                {{ base.hidden_tag() }}
                <p>
                    {{ base.category.label }}<br>
                    {{ base.category }}<br>
                    {% for error in base.category.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ base.dynamic_select.label }}<br>
                    {{ base.dynamic_select }}<br>
                    {% for error in base.dynamic_select.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ base.dynamic_int.label }}<br>
                    {{ base.dynamic_int }}<br>
                    {% for error in base.dynamic_int.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
    <script>
        $(document).ready(function() {
            var dynamicCount = 1;
            var newBase = $("#base0").clone(true).prop("id", "base"+dynamicCount);
            newBase.insertAfter("form #base"+(dynamicCount-1));
            console.log("inserted");
            console.log("cloned");
            var elements = newBase.find("*");
            console.log("found", String(elements));
            $.each(elements, function(index, elem){
                console.log("inner function");
                isLabel = false;
                var jElem = $(elem);
                var name = jElem.prop("name");
                if (name == undefined) {
                    isLabel = true;
                    name = jElem.prop("for");
                    console.log("is label");
                }
                if (name == undefined) {
                    continue;
                }
                console.log(name);
                name = name.replace(/\d+/g, String(dynamicCount));
                if (isLabel == false) {
                    jElem.prop("id", name);
                    jElem.prop("name", name);
                }
                else {
                    jElem.prop("for", name);
                }
                console.log("renamed");
            });
            dynamicCount++;
            /*
            var newToken = $("#base_form-0-csrf_token").clone(true);
            newToken.attr("id", "base_form-"+dynamicCount+"-csrf_token");
            newToken.attr("name", "base_form-"+dynamicCount+"-csrf_token");
            var newCategoryField = $("#base_form-0-category").clone(true);
            newCategoryField.attr("id", "base_form-"+dynamicCount+"-category");
            newCategoryField.attr("name", "base_form-"+dynamicCount+"-category");
            var newDynamicSelect = $("#base_form-0-dynamic_select").clone(true);
            newDynamicSelect.attr("id", "base_form-"+dynamicCount+"-dynamic_select");
            newDynamicSelect.attr("name", "base_form-"+dynamicCount+"-dynamic_select");
            var newDynamicInt = $("#base_form-0-dynamic_int").clone(true);
            newDynamicInt.attr("id", "base_form-"+dynamicCount+"-dynamic_int");
            newDynamicInt.attr("name", "base_form-"+dynamicCount+"-dynamic_int");
            $("form").append(newToken);
            $("form").append(newCategoryField);
            $("form").append(newDynamicSelect);
            $("form").append(newDynamicInt);
            // Add dynamic_select and dynamic_int but hide them
            */
        });
    </script>
{% endblock %}