{% extends "base.html" %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <h1>Home</h1>

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {% for base in form.base_form %}
                {{ base.category(size=32) }}
                {{ base.dynamic_select(size=32) }}
                {{ base.dynamic_int(size=32) }}
            {% endfor %}
            {% for error in form.base_form.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}