{% extends "base.html" %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <h1>Home</h1>

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {% for base in form.base_form %}
            {{ base.hidden_tag() }}
            <p>
                {{ base.category.label }}<br>
                {{ base.category }}<br>
                {% for error in base.category.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ base.dynamic_select.label }}<br>
                {{ base.dynamic_select }}<br>
                {% for error in base.dynamic_select.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ base.dynamic_int.label }}<br>
                {{ base.dynamic_int }}<br>
                {% for error in base.dynamic_int.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
    <script>
        $(document).ready(function() {
            var dynamicCount = 1;
            var newField = $("#base_form-0-category").clone(true);
            newField.attr("id", "base_form-"+dynamicCount+"-categories");
            newField.attr("name", "base_form-"+dynamicCount+"-categories");
            $("form").append(newField);
        });
    </script>
{% endblock %}